@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto:wght@300;400;700&display=swap');

.max-movie-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.max-movie-logo__text {
  margin-left: 12px;
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 1.5rem;
}

.max-movie-logo__img {
  width: 40px;
  height: 40px;
}