.movie {
  min-height: 600px;
  display: flex;
  align-items: center;
}

.movie-box {
  width: 100%;
  display: grid;
  gap: 20px;
}

@media (min-width: 900px) {
  .movie-box {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: 100%;
    gap: 40px;
  }
}
