.app {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
}

.app__wrapper {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 100px auto;
  row-gap: 60px;
}
