.movie-card {
  position: relative;
  background-color: var(--dark2);
  padding: 12px;
  border-radius: 10px;
}

.movie-card__title {
  width: 270px;
  position: absolute;
  top: 40px;
  right: 10px;
  background: #000;
  color: var(--light);
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.movie-card:hover {
  cursor: pointer;
}

.movie-card:hover .movie-card__title {
  visibility: visible;
  padding: 8px 15px;
  opacity: 0.7; 
}

.genres {
  height: 110px;
}

.movie-card__title,
.genres__title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.genres__list {
  display: flex;
  flex-wrap: wrap;
}

.genres__item {
  background-color: var(--primary);
  font-size: 0.9rem;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
}