.app-search-bar {
  height: 50px;
  background: var(--dark2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px;
}

.app-search-bar__field {
  flex: 1;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 20px;
  color: var(--light);
}

::placeholder {
  color: var(--light);
}

.app-search-bar__img {
  width: 20px;
}

.app-search-bar__btn {
  border: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: var(--primary);
  cursor: pointer;
}

@media (min-width: 850px) {
  .app-search-bar {
    grid-column: 3/5;
  }
}
