/* =============RESET================ */
* {margin: 0; padding: 0; border: none; outline: none; font-size: 100%; box-sizing: border-box;}
ul {list-style: none;}
a {text-decoration: none; color: #fff}
img {width: 100%;}

/* ===============Global CSS=================== */
body {
  background-color: #282c34;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}