.cineflix-logo {
  margin: 20px 0;
}

.cineflix-logo__wrapper {
  display: flex;
  justify-content: center;
}

.cineflix-logo__text {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 1.5rem;
  margin-left: 10px;
  color: var(--logoColor);
}

.cineflix-logo__img {
  width: 40px;
  height: 40px;
}

@media (min-width: 850px) {
  .cineflix-logo__wrapper {
    justify-content: flex-start;
  }
}
